.explain {
  width: 100%;
  padding: $paddingDefault;

  &__heading {
    @include font-homeSectionHeader;
  }

  &List {
    display: flex;
    flex-direction: column;
    counter-reset: explain-list-counter;
    padding-left: calc($bubbleSize/2);
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .explain {
    padding: $paddingDefault-tablet;

    &List {
      flex-direction: row;
      gap: 40px;
    }
  }
}
