.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  position: relative;
  background-color: $color-lightgrey;
  margin-top: -50px;
  border-radius: 35px 35px 0 0;
  z-index: 200;
  padding-bottom: 4rem;

  &Heading {
      padding: 4rem 1.1rem 1.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }

  &List {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 1.1rem 2rem;

      &__grid {
          display: flex;
          flex-direction: column;
          gap: 15px;
      }
  }
}

@media screen and (min-width: $breakpoint-laptop) {
    .menu {
        border-radius: 0px;
    }

    .menuList {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 0 auto;
    }

    .menuHeading {
        max-width: 820px;
        margin: 0 auto;
    }
}