.restaurant {
  padding: $paddingDefault;
  background-color: $color-lightgrey;

  &__heading {
    @include font-homeSectionHeader;
  }

  &List {
    display: grid;
    gap: 20px;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .restaurant {
    padding: $paddingDefault-tablet;

    &List {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (min-width: $breakpoint-laptop) {
  .restaurant {
    background-color: white;
    &List {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
