// FONTS
$Roboto: "Roboto", sans-serif;
$Shrikland: "Shrikhand", cursive;

// COLOR THEME
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// ADDITIONAL COLORS
$color-primary-light: change-color(
  $color-primary,
  $saturation: 100%,
  $lightness: 96%
);
$color-darkgrey: #353535;
$color-lightgrey: #f6f6f6;

//MISCELLANEOUS
$checkbox-width: 80px;

$paddingDefault: 3.5rem 1.1rem;
$paddingDefault-tablet: 3.5rem 2rem;

//RESPONSIVE BREAKPOINTS
$breakpoint-mobile-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-large: 1200px;
$breakpoint-extralarge: 1440px;
