.buttonCTA {
  background-image: linear-gradient($color-secondary, $color-primary);
  padding: 15px 40px;
  border-radius: 30px;
  color: white;
  @include box-shadow-base;
  width: fit-content;
  @include transition-all-base;
  margin: 0 auto;

  &--secondary {
    @extend .buttonCTA;
    padding: 15px 23px;
  }

  &:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(
      lighten($color-secondary, 4),
      lighten($color-primary, 4)
    );
    @include box-shadow-base--hover;
    @include transition-all-base;
  }

  &:active {
    transform: translateY(0px);
    @include box-shadow-base;
  }
}
