.locationBar {
  background-color: #eaeaea;
  color: #353535;
  width: 100%;
  text-align: center;
  padding: 10px 0;

  & i {
    margin-right: 5px;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .locationBar {
    background-color: #ffffff00;
    text-align: left;
    margin-left: 2rem;
    width: auto;
  }
}
