.restaurantCard {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  @include box-shadow-base;

  &__image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;

    & img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__like {
    position: relative;
    width: 25px;
    height: 25px;

    &:hover {
      & .heart-background {
        clip-path: circle(120% at 50% 100%);
      }

      & i:first-child {
        opacity: 0;
      }
    }

    & i {
      position: absolute;
      font-size: 1.3rem;
      margin-right: 10px;
      color: black;
      opacity: 1;
      @include transition-all-base;

      &:first-child {
        transition-delay: 0.2s;
      }
    }

    & .heart-background {
      @include background-gradient("reverse");
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      clip-path: circle(0% at 50% 100%);
      @include transition-all-base;
    }
  }

  &__details {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
      @include font-cardTitle;
    }

    & p {
      @include font-description;
    }
  }

  &--new {
    position: relative;
    @extend .restaurantCard;

    &::after {
      content: "Nouveau";
      position: absolute;
      top: 15px;
      right: 15px;
      color: hsl(165, 100%, 26%);
      background-color: $color-tertiary;
      padding: 6px;
      font-size: 0.8rem;
      border-radius: 2px;
    }
  }
}
