//Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Components
@import "components/menuCard";
@import "components/buttonCTA";
@import "components/header";
@import "components/explainCard";
@import "components/subCategoryTitle";
@import "components/restaurantCard";

//layouts
@import "layout/explainList";

.components {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 10px;
  align-items: center;
}
