//Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Components
@import "components/menuCard";
@import "components/buttonCTA";
@import "components/header";
@import "components/explainCard";
@import "components/subCategoryTitle";
@import "components/restaurantCard";
@import "components/locationBar";
@import "components/footer";
@import "components/restaurantImage";

//layouts
@import "layout/explainList";
@import "layout/homeHeading";
@import "layout/restaurantList";
@import "layout/menu";

.components {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 10px;
  align-items: center;
}

html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 0 190px;
}
